<main class="main">
  <div class="container text-center">
    <h1>{{titulo}}</h1>

    <div class="input-group mb-3">
      <input [(ngModel)]="nomePesquisa" type="text" class="form-control" placeholder="Insira o nome do produto"
        aria-label="Insira o nome do produto" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Produto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtosFiltrados">
          <th scope="row">{{ produto.codigo }}</th>
          <td>{{ produto.nome }}</td>
          <!-- <td><button type="button" class="btn btn-outline-success">Ver imagem</button></td> -->
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#modal' + produto.codigo">
              Launch static backdrop modal
            </button>

            <!-- Modal -->
            <div class="modal fade" [id]="'modal' + produto.codigo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            [attr.aria-labelledby]="'modal' + produto.codigo + 'Label'" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <img [src]="produto.imagemUrl" alt="{{produto.nome}}" />
                  </div>
                </div>
              </div>
            </div>


          </td>
        </tr>
      </tbody>
    </table>









  </div>
  <!-- <div class="pesquisa-container">
    <input [(ngModel)]="nomePesquisa" type="text" placeholder="Pesquise por nome..." class="barra-pesquisa" />

    <div class="resultado-container">
      <div *ngFor="let produto of produtosFiltrados" class="card-item">
        <img [src]="produto.imagemUrl" alt="{{produto.nome}}" />
        <div class="card-info">
          <h3>{{ produto.nome }}</h3>
          <p>{{ produto.codigo }}</p>
        </div>
      </div>
    </div>
  </div> -->

</main>
<!-- <div class="modal-dialog modal-dialog-centered">
  ...
</div> -->
<router-outlet />